<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/chart.css">
    <title>开奖走势图</title>
</head>
<body>
    <div id="vue-chart">
        <div class="lottery-select-wrap">
            选择彩种
            <lottery-type-select :lottery-config="lotteryConfig" :lottery-default-type="lotteryDefaultType" :lottery-type="lotteryType" @receivelotterytype="receiveLotteryType"></lottery-type-select>
            <lottery-select :lottery-arrs="lotteryArrs" :lottery-default-obj="lotteryDefaultObj" :lottery-type="lotteryType" @receivelottery="receiveLottery"></lottery-select>
        </div>
        <div class="lottery-tab-wrap">
            <lottery-tab :tab-default-obj="tabDefaultObj" :tabs-arr="tabsArr" :lottery-type="lotteryType" :lottery="lottery" @receivetab="receiveTab"></lottery-tab>
        </div>
        <div class="chart-option-wrap clearfix">
            <chart-option :checked-config="checkedConfig"></chart-option>
            <lottery-issue-period :issue-period-config="issuePeriodConfig" @receiveperiod="receivePeriod"></lottery-issue-period>
        </div>
        <div class="chart-table-wrap">
            <chart-table v-if="tabCode !== 'ssc-qw&nn'" :pos-config="posConfig" :tab-code="tabCode" :select-num-obj="selectNumObj" :lottery-type="lotteryType"></chart-table>
            <normal-table v-if="tabCode === 'ssc-qw&nn'" :pos-config="posConfig" :tab-code="tabCode" :select-num-obj="selectNumObj" :lottery-type="lotteryType"></normal-table>
        </div>
    </div>
    <script src="./js/vender/axios.min.js"></script>
    <script src="./js/vender/vue.min.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/component/chart-option.js"></script>
    <script src="./js/component/lottery-issue-period.js"></script>
    <script src="./js/component/lottery-select.js"></script>
    <script src="./js/component/lottery-type-select.js"></script>
    <script src="./js/component/lottery-tab.js"></script>
    <script src="./js/component/chart-table.js"></script>
    <script src="./js/component/normal-table.js"></script>    
    <script src="./js/chart.js"></script>
</body>
</html>