footer {
    background-color: #000000;
}

.footer-wrap {
    width: 1200px;
    height: 172px;
    margin: 0 auto;
}

.about-companies-img {
    width: 1200px;
    height: 72px;
    margin: 0 auto;
    background-image: url(./img/lofos.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-companies {
    background-image: url(./img/lofos_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 72px;
}

.about-link-item {
    margin-right: 50px;
}

.about-link-item>a {
    color: #fff;
    font-size: 18px;
    font-family: MicrosoftYaHei;
}

.about-link-item>a:hover {
    text-decoration: underline;
}

.footer-left-bottom-text {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(255, 255, 255, .4);
}

.about-link-list {
    margin-top: 37px;
}

.footer-left-bottom-text {
    margin-top: 30px;
    line-height: 2;
}

.bottom-chrome-icon {
    position: relative;
    left: 10px;
    top: 4px;
    width: 80px;
    height: 16px;
}

.download-item {
    padding: 15px;
    border-radius: 10px;
    margin-top: 23px;
    font-size: 0;
}

.download-item:hover {
    background-color: rgba(176, 37, 36, .5)
}

.qr-code-down {
    background-image: url(./img/qr_code_down.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 22px;
}

.download-item-icon {
    text-align: center;
}

.download-item-icon>img {
    margin-top: 4px;
    opacity: .7;
}

.download-item-text {
    font-size: 12px;
    opacity: .7;
    color: #fff;
    margin-top: 10px;
}

.download-item-guaji,
.download-item-fast,
.download-item-client {
    cursor: pointer;
}

.footer-right-fixed {
    position: fixed;
    right: 0;
    width: 50px;
    top: 0;
    bottom: 0;
    background-color: #0f0f0f;
}

.right-fixed-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.right-fixed-item {
    padding: 14px 0;
    text-align: center;
    width: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    cursor: pointer;
    font-size: 0;
}

.right-fixed-item:last-child {
    border-bottom: none;
}

.fixed-right-text {
    color: #cdcdcd;
    font-size: 14px;
    margin-top: 4px;
}

.right-fixed-item:hover .fixed-right-text {
    text-decoration: underline;
}