<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./dist/trend.min.css">
    <title>开奖走势图</title>
</head>
<body>
    <div id="vue-chart">
        <div class="lottery-top-wrap">
            <div class="lottery-select-wrap">
                <lottery-type-select :lottery-config="lotteryConfig" :lottery-default-type="lotteryDefaultType" :lottery-type="lotteryType" @receive-lottery-type="receiveLotteryType"></lottery-type-select>
                <lottery-select :lottery-arrs="lotteryArrs" :lottery-default-obj="lotteryDefaultObj" :lottery-type="lotteryType" @receive-lottery="receiveLottery"></lottery-select>
            </div>
            <div class="lottery-tab-wrap">
                <lottery-tab :tab-default-obj="tabDefaultObj" :tabs-arr="tabsArr" :lottery-type="lotteryType" :lottery="lottery" @receive-tab="receiveTab"></lottery-tab>
            </div>
            <div class="chart-option-wrap clearfix">
                <chart-option :checked-config="checkedConfig"></chart-option>
                <lottery-issue-period :issue-period-config="issuePeriodConfig" @receive-period="receivePeriod"></lottery-issue-period>
            </div>
        </div>
        <div class="chart-table-wrap">
            <div class="table-inner-wrap">
                <chart-table v-if="tabCode !== 'ssc-qw&nn'" :trend-data="trendData" :pos-config="posConfig" :tab-code="tabCode" :select-num-obj="selectNumObj" :lottery-type="lotteryType" :lottery="lottery"></chart-table>
                <normal-table v-if="tabCode === 'ssc-qw&nn'" :trend-data="trendData" :pos-config="posConfig" :tab-code="tabCode" :select-num-obj="selectNumObj" :lottery-type="lotteryType" :lottery="lottery" :is-miss="isMiss"></normal-table>
            </div>
        </div>
    </div>
    <script src="./dist/vender.min.js"></script>    
    <script src="./dist/trend.min.js"></script>
</body>
</html>